<div class="login-wrapper">
    <div class="Sumbit_Login">
        <img src="/Imagenes/MORGAN.jpg" alt="MORGAN" />
        <form action='@Url.Action("Login", "Account")' method="post">
            <input type="text" name="username" placeholder="Usuario" required />
            <input type="password" name="password" placeholder="Contraseña" required />
            <input type="submit" value="Enviar" />
        </form>
        <form class="Registrarse" action='@Url.Action("DRegistrarse","Account")' method="post">
            <button type="submit">Registrarse</button>
        </form>
    </div>
</div>
