@{
    ViewData["Title"] = "Index";
}

<div>
       <form action = '@Url.Action("Login", "Account")' method ="post ">
       <input type ="text "name ="uusername ">
       <input type ="password" name ="password " >
       <input type ="submit" name ="Enviar">
       </form>
</div>
